table {
    width: 100%;
    display: table;
    padding: 50px;
    border: 5px solid black;
}
* {
    text-align: center;
}

td {
    border: 5px solid black;
    height: 150px;
}
select {
    padding: 10px;
    font-size: xx-large;
    font-weight: bold;

}